@using Karbon_test_1.Models

@inherits KarbonView<Home>
@{
    Layout = "_Layout.cshtml";
}

<section class="content">
    <article>
        <h1>@Model.CurrentPage.Name</h1>
        <h2>@Model.CurrentPage.Get("SubName")</h2>
        @Html.Md(Model.CurrentPage.Get("Content"))
    </article>
</section>

